.table {
  position: relative;
  @include media-sm {
    overflow-x: scroll;
  }
  :global {
    .ant-table-small .ant-table-thead > tr > th {
      background-color: $dark-color-50;
    }
    .ant-table.ant-table-bordered > .ant-table-container,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > th,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tbody > tr > td,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > th,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > th,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > th,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > td,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > td,
    .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > td {
      border-color: $dark-color-200;
    }
    .ant-table-tbody > tr.ant-table-placeholder {
      background: $dark-color-100;
      text-align: left;
    }
    .ant-table-wrapper {
      .ant-table-header, table, thead, thead th {
        border-radius: 0!important;
      }
    }
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($dark-color-100, 0.6);
  z-index: 100;
  .ant-spin {
    color: $dark-color-600;
  }
}

.footer {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: $dark-color-600;
  &:not(:empty) {
    margin-top: 0.5rem;
    padding-right: 0.5rem;
  }
  .timestamp {
    cursor: pointer;
  }
  .total {
    margin-left: auto;
    text-align: right;
  }
}
