.header {
  width: 100vw;
  padding: 0.5rem 2rem;
  background: transparent;
  z-index: 250;
  margin-bottom: -62px;
  @include media-sm {
    margin-bottom: 0;
    padding: 0rem 1rem;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    .logo {
      cursor: pointer;
      svg {
        width: 160px;
        height: auto;
        @include media-sm {
          width: 120px;
        }
      }
    }
    .box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.desktop-menu {
  .menu[data-type="user"] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > button, > a {
      margin-left: 1rem!important;
    }
  }
  @include media-sm {
    display: none;
  }
}

.mobile-menu {
  display: none;
  .menu[data-type="user"] {
    display: flex;
    flex-direction: column;
  }
  @include media-sm {
    display: block;
  }
}

.mobile-menu-drawer {
  display: none;
  @include media-sm {
    display: block;
  }
  .menu[data-type="user"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100%;
    @include media-xs {
      padding-bottom: 10vh;
    }
    > button, > a {
      margin: 1rem 0;
      padding: 1rem 3rem;
      font-size: 1.5rem;
      @include media-xs {
        font-size: 1.25rem;
      }
    }
    button[data-cy="logout"],
    button[data-cy="login"]  {
      margin-top: auto;
      font-size: 1rem;
    }
  }
  :global {
    .ant-drawer-content-wrapper {
      height: calc(100vh - 4rem)!important;
      margin: 2rem;
      border-radius: 16px;
      overflow: hidden;
      @include media-xs {
        height: calc(100vh - 20vh)!important;
        margin: 0.5rem;
      }
    }
    .ant-drawer-mask {
      cursor: pointer;
    }
    .ant-drawer-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .ant-drawer-header-title {
        margin-right: 0;
        flex: unset;
        > button {
          margin-right: 0;
        }
      }
    }
  }
}